<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="at.anext.os.firmware.devsupport.nodes">
      <node
            creationTimestamp="2014/03/17"
            description="fhv.smartDevice.desc"
            identifier="fhv.smartdevice"
            menuPath="buscomponents/fhv"
            name="fhv.smartDevice.name"
            nodeClass="at.fhv.smartdevices.anext.nodes.SmartDeviceNode"
            vendor="FHV">
         <complexInput
               categoryName="Sensors"
               description="temperatureA.desc"
               key="temperatureA"
               name="temperatureA.name">
         </complexInput>
         <complexInput
               categoryName="Sensors"
               description="temperatureB.desc"
               key="temperatureB"
               name="temperatureB.name">
         </complexInput>
         <complexInput
               categoryName="Sensors"
               description="temperatureC.desc"
               key="temperatureC"
               name="temperatureC.name">
         </complexInput>
         <complexInput
               categoryName="Sensors"
               description="temperatureD.desc"
               key="temperatureD"
               name="temperatureD.name">
         </complexInput>
         <complexInput
               categoryName="Sensors"
               description="throughput.desc"
               key="throughput"
               name="throughput.name">
         </complexInput>
         <simpleInput
               categoryName="Sensors"
               description="powerConsumptionA.description"
               key="powerConsumptionA"
               name="powerConsumptionA.name">
         </simpleInput>
         <simpleInput
               categoryName="Sensors"
               description="powerConsumptionB.desc"
               key="powerConsumptionB"
               name="powerConsumptionB.name">
         </simpleInput>
         <simpleInput
               categoryName="Sensors"
               description="waterConsumption.desc"
               key="waterConsumption"
               name="waterConsumption.name">
         </simpleInput>
         <complexInput
               categoryName="Signaling"
               description="priceSignal.desc"
               key="priceSignal"
               name="priceSignal.name">
         </complexInput>
         <property
               dataType="string"
               description="deviceType.desc"
               editable="true"
               enumerationData="boiler,washingmachine,refrigerator"
               enumerationLocData="Boiler,WashingMachine,Refrigerator"
               key="deviceType"
               mandatory="true"
               name="deviceType.name"
               type="enumeration">
         </property>
         <property
               dataType="string"
               description="deviceModel.desc"
               editable="true"
               key="deviceModel"
               mandatory="true"
               name="deviceModel.name"
               type="text">
         </property>
         <complexOutput
               description="power.desc"
               key="power"
               name="power.name">
            <parameter
                  dataType="boolean"
                  defaultValue="true"
                  description="value.desc"
                  key="value"
                  name="value.name"
                  status="true"
                  type="enumeration">
            </parameter>
         </complexOutput>
      </node>
   </extension>
</plugin>
